body{
  margin: 0px;
}
.App{
font-family: 'Courier New', Courier, monospace;
background-color: rgb(0, 0, 0);


}
.container{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  /* border: 2px solid white; */
  background-color: rgb(0, 0, 0);
}
.App .inputBox{
padding: 10px;
border-radius: 10px;
margin: 20px;
}
button{
  padding: 10px;
  border-radius: 10px;
  background-color: green;
  color: white;
  border: none;
  margin: 10px;
}